<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.CreateTratamientoTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputLabel value="#{bundle.CreateTratamientoLabel_idTratamiento}" for="idTratamiento" />
                    <h:inputText id="idTratamiento" value="#{tratamientoController.selected.idTratamiento}" title="#{bundle.CreateTratamientoTitle_idTratamiento}" required="true" requiredMessage="#{bundle.CreateTratamientoRequiredMessage_idTratamiento}"/>
                    <h:outputLabel value="#{bundle.CreateTratamientoLabel_nombre}" for="nombre" />
                    <h:inputText id="nombre" value="#{tratamientoController.selected.nombre}" title="#{bundle.CreateTratamientoTitle_nombre}" required="true" requiredMessage="#{bundle.CreateTratamientoRequiredMessage_nombre}"/>
                    <h:outputLabel value="#{bundle.CreateTratamientoLabel_descripcion}" for="descripcion" />
                    <h:inputTextarea rows="4" cols="30" id="descripcion" value="#{tratamientoController.selected.descripcion}" title="#{bundle.CreateTratamientoTitle_descripcion}" required="true" requiredMessage="#{bundle.CreateTratamientoRequiredMessage_descripcion}"/>
                    <h:outputLabel value="#{bundle.CreateTratamientoLabel_valor}" for="valor" />
                    <h:inputText id="valor" value="#{tratamientoController.selected.valor}" title="#{bundle.CreateTratamientoTitle_valor}" required="true" requiredMessage="#{bundle.CreateTratamientoRequiredMessage_valor}"/>
                </h:panelGrid>
                <br />
                <center><h:commandLink action="#{tratamientoController.create}" >
                    <h:graphicImage library="images" name="Guardar.png" width="50" />
                    </h:commandLink></center>
                <center><h:commandLink action="#{tratamientoController.prepareList}" immediate="true">
                <h:graphicImage library="images" name="ver1.png" width="50" />
                </h:commandLink></center>    
                <center><h:link outcome="/index_1">
                <h:graphicImage library="images" name="Regresar.png" width="100" />
                    </h:link></center> 
            </h:form>
        </ui:define>
    </ui:composition>

</html>
