<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.EditTratamientoTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputLabel value="#{bundle.EditTratamientoLabel_idTratamiento}" for="idTratamiento" />
                    <h:inputText id="idTratamiento" value="#{tratamientoController.selected.idTratamiento}" title="#{bundle.EditTratamientoTitle_idTratamiento}" required="true" requiredMessage="#{bundle.EditTratamientoRequiredMessage_idTratamiento}"/>
                    <h:outputLabel value="#{bundle.EditTratamientoLabel_nombre}" for="nombre" />
                    <h:inputText id="nombre" value="#{tratamientoController.selected.nombre}" title="#{bundle.EditTratamientoTitle_nombre}" required="true" requiredMessage="#{bundle.EditTratamientoRequiredMessage_nombre}"/>
                    <h:outputLabel value="#{bundle.EditTratamientoLabel_descripcion}" for="descripcion" />
                    <h:inputTextarea rows="4" cols="30" id="descripcion" value="#{tratamientoController.selected.descripcion}" title="#{bundle.EditTratamientoTitle_descripcion}" required="true" requiredMessage="#{bundle.EditTratamientoRequiredMessage_descripcion}"/>
                    <h:outputLabel value="#{bundle.EditTratamientoLabel_valor}" for="valor" />
                    <h:inputText id="valor" value="#{tratamientoController.selected.valor}" title="#{bundle.EditTratamientoTitle_valor}" required="true" requiredMessage="#{bundle.EditTratamientoRequiredMessage_valor}"/>
                </h:panelGrid>
              <center>   <h:commandLink action="#{tratamientoController.update}" >
                                   <h:graphicImage library="images" name="actualizar.png" width="50" />
                </h:commandLink>             </center>
                                   
                <br />
              <center>   <h:link outcome="View" >
                
                                        <h:graphicImage library="images" name="ver1.png" width="50" />
                                        </h:link> </center>

                <br />
              <center>   <h:commandLink action="#{tratamientoController.prepareList}"  immediate="true">
                                                    <h:graphicImage library="images" name="Regresar.png" width="100" />
                </h:commandLink> </center>

            </h:form>
        </ui:define>
    </ui:composition>

</html>
