<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.ViewTratamientoTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputText value="#{bundle.ViewTratamientoLabel_idTratamiento}"/>
                    <h:outputText value="#{tratamientoController.selected.idTratamiento}" title="#{bundle.ViewTratamientoTitle_idTratamiento}"/>
                    <h:outputText value="#{bundle.ViewTratamientoLabel_nombre}"/>
                    <h:outputText value="#{tratamientoController.selected.nombre}" title="#{bundle.ViewTratamientoTitle_nombre}"/>
                    <h:outputText value="#{bundle.ViewTratamientoLabel_descripcion}"/>
                    <h:outputText value="#{tratamientoController.selected.descripcion}" title="#{bundle.ViewTratamientoTitle_descripcion}"/>
                    <h:outputText value="#{bundle.ViewTratamientoLabel_valor}"/>
                    <h:outputText value="#{tratamientoController.selected.valor}" title="#{bundle.ViewTratamientoTitle_valor}"/>
                </h:panelGrid>
                <br />
               <center> <h:commandLink action="#{tratamientoController.destroyAndView}" >
                   <h:graphicImage library="images" name="eliminar1.png" width="50" />
                   </h:commandLink></center>
                <br />
              <center>  <h:link outcome="Edit" >
                               <h:graphicImage library="images" name="editar1.png" width="50" />
                  </h:link></center>
                <br />
                
              <center>  <h:commandLink action="#{tratamientoController.prepareList}" >
                              <h:graphicImage library="images" name="Regresar.png" width="100" />

                  </h:commandLink></center>
            </h:form>
        </ui:define>
    </ui:composition>

</html>
