@font-face {
  font-family: 'icomoon';
  src:  url('icomoon.eot?9i7luy');
  src:  url('icomoon.eot?9i7luy#iefix') format('embedded-opentype'),
    url('icomoon.ttf?9i7luy') format('truetype'),
    url('icomoon.woff?9i7luy') format('woff'),
    url('icomoon.svg?9i7luy#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

body{
   background-color:#181822;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-facebook2:before {
  content: "\ea91";
}
.icon-instagram:before {
  content: "\ea92";
}
