<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.CreatePacienteTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputLabel value="#{bundle.CreatePacienteLabel_idPaciente}" for="idPaciente" />
                    <h:inputText id="idPaciente" value="#{pacienteController.selected.idPaciente}" title="#{bundle.CreatePacienteTitle_idPaciente}" required="true" requiredMessage="#{bundle.CreatePacienteRequiredMessage_idPaciente}"/>
                    <h:outputLabel value="#{bundle.CreatePacienteLabel_nombrePaciente}" for="nombrePaciente" />
                    <h:inputText id="nombrePaciente" value="#{pacienteController.selected.nombrePaciente}" title="#{bundle.CreatePacienteTitle_nombrePaciente}" required="true" requiredMessage="#{bundle.CreatePacienteRequiredMessage_nombrePaciente}"/>
                    <h:outputLabel value="#{bundle.CreatePacienteLabel_apellidoPaciente}" for="apellidoPaciente" />
                    <h:inputText id="apellidoPaciente" value="#{pacienteController.selected.apellidoPaciente}" title="#{bundle.CreatePacienteTitle_apellidoPaciente}" required="true" requiredMessage="#{bundle.CreatePacienteRequiredMessage_apellidoPaciente}"/>
                    <h:outputLabel value="#{bundle.CreatePacienteLabel_telefonoPaciente}" for="telefonoPaciente" />
                    <h:inputText id="telefonoPaciente" value="#{pacienteController.selected.telefonoPaciente}" title="#{bundle.CreatePacienteTitle_telefonoPaciente}" required="true" requiredMessage="#{bundle.CreatePacienteRequiredMessage_telefonoPaciente}"/>
                    <h:outputLabel value="#{bundle.CreatePacienteLabel_correoPaciente}" for="correoPaciente" />
                    <h:inputText id="correoPaciente" value="#{pacienteController.selected.correoPaciente}" title="#{bundle.CreatePacienteTitle_correoPaciente}" required="true" requiredMessage="#{bundle.CreatePacienteRequiredMessage_correoPaciente}"/>
                    <h:outputLabel value="#{bundle.CreatePacienteLabel_sexoPaciente}" for="sexoPaciente" />
                    <h:inputText id="sexoPaciente" value="#{pacienteController.selected.sexoPaciente}" title="#{bundle.CreatePacienteTitle_sexoPaciente}" required="true" requiredMessage="#{bundle.CreatePacienteRequiredMessage_sexoPaciente}"/>
                    <h:outputLabel value="#{bundle.CreatePacienteLabel_fechaNacPaciente}" for="fechaNacPaciente" />
                    <h:inputText id="fechaNacPaciente" value="#{pacienteController.selected.fechaNacPaciente}" title="#{bundle.CreatePacienteTitle_fechaNacPaciente}" required="true" requiredMessage="#{bundle.CreatePacienteRequiredMessage_fechaNacPaciente}">
                        <f:convertDateTime pattern="MM/dd/yyyy" />
                    </h:inputText>
                </h:panelGrid>
                <br />
              <center>  <h:commandLink action="#{pacienteController.create}" >
                  <h:graphicImage library="images" name="Guardar.png" width="50" />
                </h:commandLink></center>

                <br />
                <center><h:commandLink action="#{pacienteController.prepareList}"  immediate="true">
                                    <h:graphicImage library="images" name="ver1.png" width="50" />
                </h:commandLink>     </center>               
                <br />
               <center> <h:link outcome="/index_1" >
                                <h:graphicImage library="images" name="Regresar.png" width="100" />
                </h:link></center>
            </h:form>
        </ui:define>
    </ui:composition>

</html>
