<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.EditPacienteTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputLabel value="#{bundle.EditPacienteLabel_idPaciente}" for="idPaciente" />
                    <h:inputText id="idPaciente" value="#{pacienteController.selected.idPaciente}" title="#{bundle.EditPacienteTitle_idPaciente}" required="true" requiredMessage="#{bundle.EditPacienteRequiredMessage_idPaciente}"/>
                    <h:outputLabel value="#{bundle.EditPacienteLabel_nombrePaciente}" for="nombrePaciente" />
                    <h:inputText id="nombrePaciente" value="#{pacienteController.selected.nombrePaciente}" title="#{bundle.EditPacienteTitle_nombrePaciente}" required="true" requiredMessage="#{bundle.EditPacienteRequiredMessage_nombrePaciente}"/>
                    <h:outputLabel value="#{bundle.EditPacienteLabel_apellidoPaciente}" for="apellidoPaciente" />
                    <h:inputText id="apellidoPaciente" value="#{pacienteController.selected.apellidoPaciente}" title="#{bundle.EditPacienteTitle_apellidoPaciente}" required="true" requiredMessage="#{bundle.EditPacienteRequiredMessage_apellidoPaciente}"/>
                    <h:outputLabel value="#{bundle.EditPacienteLabel_telefonoPaciente}" for="telefonoPaciente" />
                    <h:inputText id="telefonoPaciente" value="#{pacienteController.selected.telefonoPaciente}" title="#{bundle.EditPacienteTitle_telefonoPaciente}" required="true" requiredMessage="#{bundle.EditPacienteRequiredMessage_telefonoPaciente}"/>
                    <h:outputLabel value="#{bundle.EditPacienteLabel_correoPaciente}" for="correoPaciente" />
                    <h:inputText id="correoPaciente" value="#{pacienteController.selected.correoPaciente}" title="#{bundle.EditPacienteTitle_correoPaciente}" required="true" requiredMessage="#{bundle.EditPacienteRequiredMessage_correoPaciente}"/>
                    <h:outputLabel value="#{bundle.EditPacienteLabel_sexoPaciente}" for="sexoPaciente" />
                    <h:inputText id="sexoPaciente" value="#{pacienteController.selected.sexoPaciente}" title="#{bundle.EditPacienteTitle_sexoPaciente}" required="true" requiredMessage="#{bundle.EditPacienteRequiredMessage_sexoPaciente}"/>
                    <h:outputLabel value="#{bundle.EditPacienteLabel_fechaNacPaciente}" for="fechaNacPaciente" />
                    <h:inputText id="fechaNacPaciente" value="#{pacienteController.selected.fechaNacPaciente}" title="#{bundle.EditPacienteTitle_fechaNacPaciente}" required="true" requiredMessage="#{bundle.EditPacienteRequiredMessage_fechaNacPaciente}">
                        <f:convertDateTime pattern="MM/dd/yyyy" />
                    </h:inputText>
                </h:panelGrid>
                <center> <h:commandLink action="#{pacienteController.update}" >
                                   <h:graphicImage library="images" name="actualizar.png" width="50" />
                </h:commandLink> </center>
                <br />
               <center>  <h:link outcome="View" >
                                        <h:graphicImage library="images" name="ver1.png" width="50" />
                </h:link> </center>

                <br />
               <center>  <h:commandLink action="#{pacienteController.prepareList}" immediate="true">
                                                     <h:graphicImage library="images" name="Regresar.png" width="100" />
                </h:commandLink> </center>
            </h:form>
        </ui:define>
    </ui:composition>

</html>
