<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.ViewPacienteTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputText value="#{bundle.ViewPacienteLabel_idPaciente}"/>
                    <h:outputText value="#{pacienteController.selected.idPaciente}" title="#{bundle.ViewPacienteTitle_idPaciente}"/>
                    <h:outputText value="#{bundle.ViewPacienteLabel_nombrePaciente}"/>
                    <h:outputText value="#{pacienteController.selected.nombrePaciente}" title="#{bundle.ViewPacienteTitle_nombrePaciente}"/>
                    <h:outputText value="#{bundle.ViewPacienteLabel_apellidoPaciente}"/>
                    <h:outputText value="#{pacienteController.selected.apellidoPaciente}" title="#{bundle.ViewPacienteTitle_apellidoPaciente}"/>
                    <h:outputText value="#{bundle.ViewPacienteLabel_telefonoPaciente}"/>
                    <h:outputText value="#{pacienteController.selected.telefonoPaciente}" title="#{bundle.ViewPacienteTitle_telefonoPaciente}"/>
                    <h:outputText value="#{bundle.ViewPacienteLabel_correoPaciente}"/>
                    <h:outputText value="#{pacienteController.selected.correoPaciente}" title="#{bundle.ViewPacienteTitle_correoPaciente}"/>
                    <h:outputText value="#{bundle.ViewPacienteLabel_sexoPaciente}"/>
                    <h:outputText value="#{pacienteController.selected.sexoPaciente}" title="#{bundle.ViewPacienteTitle_sexoPaciente}"/>
                    <h:outputText value="#{bundle.ViewPacienteLabel_fechaNacPaciente}"/>
                    <h:outputText value="#{pacienteController.selected.fechaNacPaciente}" title="#{bundle.ViewPacienteTitle_fechaNacPaciente}">
                        <f:convertDateTime pattern="MM/dd/yyyy" />
                    </h:outputText>
                </h:panelGrid>
                <br />
              <center>  <h:commandLink action="#{pacienteController.destroyAndView}" >
                   <h:graphicImage library="images" name="eliminar1.png" width="50" />

                </h:commandLink>   </center> 
                <br />
             <center>   <h:link outcome="Edit" >
               <h:graphicImage library="images" name="editar1.png" width="50" />

                </h:link>    </center>
                <br />
            <center>    <h:commandLink action="#{pacienteController.prepareList}" >
              <h:graphicImage library="images" name="Regresar.png" width="100" />

                </h:commandLink></center>

            </h:form>
        </ui:define>
    </ui:composition>

</html>
