<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.CreateUsersTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputLabel value="#{bundle.CreateUsersLabel_rutUsers}" for="rutUsers" />
                    <h:inputText id="rutUsers" value="#{usersController.selected.rutUsers}" title="#{bundle.CreateUsersTitle_rutUsers}" required="true" requiredMessage="#{bundle.CreateUsersRequiredMessage_rutUsers}"/>
                    <h:outputLabel value="#{bundle.CreateUsersLabel_nombreUsuario}" for="nombreUsuario" />
                    <h:inputText id="nombreUsuario" value="#{usersController.selected.nombreUsuario}" title="#{bundle.CreateUsersTitle_nombreUsuario}" required="true" requiredMessage="#{bundle.CreateUsersRequiredMessage_nombreUsuario}"/>
                    <h:outputLabel value="#{bundle.CreateUsersLabel_apellidoUsuario}" for="apellidoUsuario" />
                    <h:inputText id="apellidoUsuario" value="#{usersController.selected.apellidoUsuario}" title="#{bundle.CreateUsersTitle_apellidoUsuario}" required="true" requiredMessage="#{bundle.CreateUsersRequiredMessage_apellidoUsuario}"/>
                    <h:outputLabel value="#{bundle.CreateUsersLabel_direccionUsuario}" for="direccionUsuario" />
                    <h:inputText id="direccionUsuario" value="#{usersController.selected.direccionUsuario}" title="#{bundle.CreateUsersTitle_direccionUsuario}" required="true" requiredMessage="#{bundle.CreateUsersRequiredMessage_direccionUsuario}"/>
                    <h:outputLabel value="#{bundle.CreateUsersLabel_telefonoUsuario}" for="telefonoUsuario" />
                    <h:inputText id="telefonoUsuario" value="#{usersController.selected.telefonoUsuario}" title="#{bundle.CreateUsersTitle_telefonoUsuario}" required="true" requiredMessage="#{bundle.CreateUsersRequiredMessage_telefonoUsuario}"/>
                    <h:outputLabel value="#{bundle.CreateUsersLabel_correoUsuario}" for="correoUsuario" />
                    <h:inputText id="correoUsuario" value="#{usersController.selected.correoUsuario}" title="#{bundle.CreateUsersTitle_correoUsuario}" required="true" requiredMessage="#{bundle.CreateUsersRequiredMessage_correoUsuario}"/>
                    <h:outputLabel value="#{bundle.CreateUsersLabel_username}" for="username" />
                    <h:inputText id="username" value="#{usersController.selected.username}" title="#{bundle.CreateUsersTitle_username}" required="true" requiredMessage="#{bundle.CreateUsersRequiredMessage_username}"/>
                    <h:outputLabel value="#{bundle.CreateUsersLabel_password}" for="password" />
                    <h:inputText id="password" value="#{usersController.selected.password}" title="#{bundle.CreateUsersTitle_password}" required="true" requiredMessage="#{bundle.CreateUsersRequiredMessage_password}"/>
                    <h:outputLabel value="#{bundle.CreateUsersLabel_idTipo}" for="idTipo" />
                    <h:selectOneMenu id="idTipo" value="#{usersController.selected.idTipo}" title="#{bundle.CreateUsersTitle_idTipo}" required="true" requiredMessage="#{bundle.CreateUsersRequiredMessage_idTipo}">
                        <f:selectItems value="#{tipoUserController.itemsAvailableSelectOne}"/>
                    </h:selectOneMenu>
                </h:panelGrid>
                <br />
                <center><h:commandLink action="#{usersController.create}" >
                                      <h:graphicImage library="images" name="Guardar.png" width="50" />

                    </h:commandLink> </center>   
     
           
                <center><h:link outcome="/login" >                   <h:graphicImage library="images" name="Regresar.png" width="100" />
                    </h:link></center>
            </h:form>
        </ui:define>
    </ui:composition>

</html>
