<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.EditUsersTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputLabel value="#{bundle.EditUsersLabel_rutUsers}" for="rutUsers" />
                    <h:inputText id="rutUsers" value="#{usersController.selected.rutUsers}" title="#{bundle.EditUsersTitle_rutUsers}" required="true" requiredMessage="#{bundle.EditUsersRequiredMessage_rutUsers}"/>
                    <h:outputLabel value="#{bundle.EditUsersLabel_nombreUsuario}" for="nombreUsuario" />
                    <h:inputText id="nombreUsuario" value="#{usersController.selected.nombreUsuario}" title="#{bundle.EditUsersTitle_nombreUsuario}" required="true" requiredMessage="#{bundle.EditUsersRequiredMessage_nombreUsuario}"/>
                    <h:outputLabel value="#{bundle.EditUsersLabel_apellidoUsuario}" for="apellidoUsuario" />
                    <h:inputText id="apellidoUsuario" value="#{usersController.selected.apellidoUsuario}" title="#{bundle.EditUsersTitle_apellidoUsuario}" required="true" requiredMessage="#{bundle.EditUsersRequiredMessage_apellidoUsuario}"/>
                    <h:outputLabel value="#{bundle.EditUsersLabel_direccionUsuario}" for="direccionUsuario" />
                    <h:inputText id="direccionUsuario" value="#{usersController.selected.direccionUsuario}" title="#{bundle.EditUsersTitle_direccionUsuario}" required="true" requiredMessage="#{bundle.EditUsersRequiredMessage_direccionUsuario}"/>
                    <h:outputLabel value="#{bundle.EditUsersLabel_telefonoUsuario}" for="telefonoUsuario" />
                    <h:inputText id="telefonoUsuario" value="#{usersController.selected.telefonoUsuario}" title="#{bundle.EditUsersTitle_telefonoUsuario}" required="true" requiredMessage="#{bundle.EditUsersRequiredMessage_telefonoUsuario}"/>
                    <h:outputLabel value="#{bundle.EditUsersLabel_correoUsuario}" for="correoUsuario" />
                    <h:inputText id="correoUsuario" value="#{usersController.selected.correoUsuario}" title="#{bundle.EditUsersTitle_correoUsuario}" required="true" requiredMessage="#{bundle.EditUsersRequiredMessage_correoUsuario}"/>
                    <h:outputLabel value="#{bundle.EditUsersLabel_username}" for="username" />
                    <h:inputText id="username" value="#{usersController.selected.username}" title="#{bundle.EditUsersTitle_username}" required="true" requiredMessage="#{bundle.EditUsersRequiredMessage_username}"/>
                    <h:outputLabel value="#{bundle.EditUsersLabel_password}" for="password" />
                    <h:inputText id="password" value="#{usersController.selected.password}" title="#{bundle.EditUsersTitle_password}" required="true" requiredMessage="#{bundle.EditUsersRequiredMessage_password}"/>
                    <h:outputLabel value="#{bundle.EditUsersLabel_idTipo}" for="idTipo" />
                    <h:selectOneMenu id="idTipo" value="#{usersController.selected.idTipo}" title="#{bundle.EditUsersTitle_idTipo}" required="true" requiredMessage="#{bundle.EditUsersRequiredMessage_idTipo}">
                        <f:selectItems value="#{tipoUserController.itemsAvailableSelectOne}"/>
                    </h:selectOneMenu>
                </h:panelGrid>
                <h:commandLink action="#{usersController.update}" value="#{bundle.EditUsersSaveLink}"/>
                <br />
                <br />
                <h:link outcome="View" value="#{bundle.EditUsersViewLink}"/>
                <br />
                <h:commandLink action="#{usersController.prepareList}" value="#{bundle.EditUsersShowAllLink}" immediate="true"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.EditUsersIndexLink}" />
            </h:form>
        </ui:define>
    </ui:composition>

</html>
