<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.ViewUsersTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputText value="#{bundle.ViewUsersLabel_rutUsers}"/>
                    <h:outputText value="#{usersController.selected.rutUsers}" title="#{bundle.ViewUsersTitle_rutUsers}"/>
                    <h:outputText value="#{bundle.ViewUsersLabel_nombreUsuario}"/>
                    <h:outputText value="#{usersController.selected.nombreUsuario}" title="#{bundle.ViewUsersTitle_nombreUsuario}"/>
                    <h:outputText value="#{bundle.ViewUsersLabel_apellidoUsuario}"/>
                    <h:outputText value="#{usersController.selected.apellidoUsuario}" title="#{bundle.ViewUsersTitle_apellidoUsuario}"/>
                    <h:outputText value="#{bundle.ViewUsersLabel_direccionUsuario}"/>
                    <h:outputText value="#{usersController.selected.direccionUsuario}" title="#{bundle.ViewUsersTitle_direccionUsuario}"/>
                    <h:outputText value="#{bundle.ViewUsersLabel_telefonoUsuario}"/>
                    <h:outputText value="#{usersController.selected.telefonoUsuario}" title="#{bundle.ViewUsersTitle_telefonoUsuario}"/>
                    <h:outputText value="#{bundle.ViewUsersLabel_correoUsuario}"/>
                    <h:outputText value="#{usersController.selected.correoUsuario}" title="#{bundle.ViewUsersTitle_correoUsuario}"/>
                    <h:outputText value="#{bundle.ViewUsersLabel_username}"/>
                    <h:outputText value="#{usersController.selected.username}" title="#{bundle.ViewUsersTitle_username}"/>
                    <h:outputText value="#{bundle.ViewUsersLabel_password}"/>
                    <h:outputText value="#{usersController.selected.password}" title="#{bundle.ViewUsersTitle_password}"/>
                    <h:outputText value="#{bundle.ViewUsersLabel_idTipo}"/>
                    <h:outputText value="#{usersController.selected.idTipo}" title="#{bundle.ViewUsersTitle_idTipo}"/>
                </h:panelGrid>
                <br />
                <h:commandLink action="#{usersController.destroyAndView}" value="#{bundle.ViewUsersDestroyLink}"/>
                <br />
                <br />
                <h:link outcome="Edit" value="#{bundle.ViewUsersEditLink}"/>
                <br />
                <h:commandLink action="#{usersController.prepareCreate}" value="#{bundle.ViewUsersCreateLink}" />
                <br />
                <h:commandLink action="#{usersController.prepareList}" value="#{bundle.ViewUsersShowAllLink}"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.ViewUsersIndexLink}"/>

            </h:form>
        </ui:define>
    </ui:composition>

</html>
