<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html">
    <h:head>
        <title>Facelet Title</title>
    </h:head>
    <h:body>
        <h:outputText value="Contenido publico"/>
        <h:form rendered="#{not empty user}">
            <p>Welcome, #{user}</p>
            <br/>
            <h:outputText value="This is a secured welcome page!"/>
            <br/>
            <h:form>
                <h:commandButton value="logout" action="#{loginController.logout}" />
            </h:form>
            <h:link outcome="/index" value="Index"/>
        </h:form>
    </h:body>
</html>

