@import url(https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz);
@import 'https://fonts.googleapis.com/css?family=Open+Sans';
*{
    background: white;
}
.cuerpo{
        justify-content: center;
}
p { color: black; 
    font-family: Verdana;
    font-size: large;


}
#itsg{
    width: 30px;
    height: 30px;
}
#principal {
    background: white;
padding-right: 0px;
padding-left: 0px;
}
.barra{
margin:0 auto;
position: relative;
}
#menu{
background: #fff;/* color de la barra*/
color: #333;/*color de las tres barritas*/
height: 50px;
border-bottom: 1px solid rgba(0,0,0,.05);
width:100%;
top:0px;

position:fixed; 
z-index:101; 
}
#menu ul,#menu li{
margin: 0px auto;
padding:0 0;
list-style:none;
}
#menu .iconos{
float:right;
margin-right: 50px;
}
#menu li{
float:left;
display:inline;
position:relative;
font: 11px Arial, sans-serif;/*tamaño y fuente del texto */
}
#menu ul a{
display: block;
line-height: 50px;
padding: 0 14px;
text-decoration: uppercase;
color: #333;/*color del texto*/
text-transform: uppercase;
letter-spacing: 1.5px;/*espacio entre letras*/
}
#menu li a:hover{
color: #999;/* color del texto al pasar el ratón*/
text-decoration: none;
-webkit-transition: all .1s ease-in-out;
-moz-transition: all .1s ease-in-out;
-ms-transition: all .1s ease-in-out;
-o-transition: all .1s ease-in-out;
transition: all .1s ease-in-out;
}
#menu input{
display:none;
margin:0 0;
padding:0 0;
width:50px;
height:50px;
opacity:0;
cursor:pointer
}
#menu label{
display:none;
width: 50px;
height: 50px;
line-height: 50px;
text-align: center;
font-size: 17px;
vertical-align: middle;
}
#menu ul.menus{
height: auto;
overflow: hidden;
width: 170px;
background: #000;/*color del fondo del submenu*/
position: absolute;
z-index: 99;
display: none;
border: 1px solid rgba(0,0,0,.05);
}
#menu ul.menus li{
display: block;
width: 100%;
font: 11px  Arial, sans-serif;/*tamaño y fuente del  texto del submenu*/
text-transform: uppercase;
border-bottom: 1px solid #E9E9E9;
}
#menu ul.menus li:last-child{
border-bottom:none;
}
#menu ul.menus a{
color: #333;/*color del  texto del submenu*/
line-height: 35px;
}
#menu li:hover ul.menus{
display:block;
}
#menu ul.menus a:hover{
color: #999;/*color del  texto del submenu al pasar el ratón*/
-webkit-transition: all .1s ease-in-out;
-moz-transition: all .1s ease-in-out;
-ms-transition: all .1s ease-in-out;
-o-transition: all .1s ease-in-out;
transition: all .1s ease-in-out;
}
.iconos a{
padding: 0 10px;
height: 50px;
display: inline-block;
}
#menu .iconos .fa{
font-size:14px;
line-height: 50px;
color: #333;/*color del icono social*/
-webkit-transition: all .1s ease-in-out;
-moz-transition: all .1s ease-in-out;
-ms-transition: all .1s ease-in-out;
-o-transition: all .1s ease-in-out;
transition: all .1s ease-in-out;
}
#menu ul .fa{
font-size: 8px;
position: relative;
top: -1px;
}
#menu .iconos .fa:hover{
color: #999;/*color del icono social al pasar el ratón*/
}
#menu .iconos::after {
    content: "";
    display: inline-block;
    width: 1px;
    height: 10px;
    background-color: #000;
    margin-left: 5px;
    opacity: .1;
}
#buscador {
position:absolute;
right:0;
top:8px;
width:50px;
text-align:center;
}

@media screen and (max-width: 800px){ 
#menu{
position:fixed; 
z-index:101; 
}
#menu ul{
background:#F1F1F1;/*color del desplegable del menu movil*/
position:absolute;
top:100%;
right:0;
left:0;
z-index:3;
height:auto;
display:none
}
#menu ul.menus{
width:100%;
position:static;
padding-left:20px
}
#menu li{
display:block;
float:none;
width:auto;
font: 11px  Arial, sans-serif;
 }
#menu ul a{
 display: block;
 line-height: 40px;
 padding: 0 14px;
}
#menu input,#menu label{
position:absolute;
top:0;
left:0;
display:block;
}
#menu input{
z-index:4
}
#menu input:checked + label{
color:#333;/*color de las tres barritas una vez se clica*/
}
#menu input:checked ~ ul{
display:block;
top: 50px;
}
.barra{
width:95%!important;
}

header{
padding-top:50px;

h1 { color:#5DADE2;
}

}

form{
    margin:left ;
    width:20%;
    max-width: 400px;
    padding: 40px;
    border : 1px solid rgba(0,0,0,2)
}
h2{
    text-align:center;
    margin-bottom: 20px
       
}  
input{
   display: black;
   padding: 10px;
   width:100%;  
   font-size: 13px;
   margin: 5px;
}
input[type="submit"]{
     background: white;
     border: 0;
     color:black ;
     opacity: o,8;
     border-radius: 10px;
     margin-bottom: 0;
     cursor : pointer;
}
input[type="submit"]:hover{
    opacity: 1;
    
}
#articulo{
    color: black;
        font-size: large;

}
input[type="submit"] active{
    transform: scale(0,95);
}
@media (max-width:768px){
    form{
        width: 95px;
    }
}
h3{
    text-align: center;
    font-family: Verdana;
    
}
.sidebar a{
    color: black;
}
.sidebar h3{
    margin: 0;
    padding: 9px;
    background : #ECF0F1;
    }
  
.footer {
  color: black;
  padding: 10px;
  text-align: center;
}


.social {
	position: fixed; /* Hacemos que la posición en pantalla sea fija para que siempre se muestre en pantalla*/
	right: 0; /* Establecemos la barra en la izquierda */
	top: 200px; /* Bajamos la barra 200px de arriba a abajo */
	z-index: 2000; /* Utilizamos la propiedad z-index para que no se superponga algún otro elemento como sliders, galerías, etc */
}
}
.banner{
    width: 80%;
    height: 300px;
    border: 3px solid black;
    margin: auto;
    background-size: 100% 100%;
    animation: banner 10s infinite;
}
@keyframes banner {
    0%, 30%  {
            background-image: url(images/baner.png);
    }
    35%, 65% {
            background-image: url(images/portada.jpg);

    }
    70%, 100% {
         background-image: url(images/portada1.jpg);

    }
    
}
