root { 
    display: block;
}

.title{
    text-align: center;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    color: #02284E;
    background-image: url(images/fondo_1.jpg);
    font-size: large;
}

a {
    color: #136BC2;
    
}

table {
    empty-cells: show;
    margin: 0 auto;
    
}

form.jsfcrud_list_form th, td th {
    font-size: x-small;
    color: #fff;
    border-top-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-right-style: solid;
    border-top-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    border-right-width: 1px;
    border-top-color: #D2E3F4;
    border-bottom-color: #D2E3F4;
    border-left-color: #D2E3F4;
    border-right-color: #D2E3F4;
    letter-spacing: 3px;
    text-align: left;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 6px;
    padding-right: 6px;
    background-color: #136BC2;
}

td {
    vertical-align: top;
    padding-bottom: 8px;
    font-size: small;
}

form.jsfcrud_list_form td, td td {
    border-top-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-right-style: solid;
    border-top-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    border-right-width: 1px;
    border-top-color: #D2E3F4;
    border-bottom-color: #D2E3F4;
    border-left-color: #D2E3F4;
    border-right-color: #D2E3F4;
    vertical-align: baseline;
    padding-bottom: 0px;
}

tr.jsfcrud_odd_row {
    background-color: #fefeff;
    color: #34495E;
}


tr.jsfcrud_even_row {
    background-color: #eff5fa;
    color: #34495E;
}

#busyImage {
    position: absolute;
    left: 50%;
    top: 50%;
}
