
* {
padding-right: 0px;
padding-left: 0px;
}
.login {
     width: 410px;
    height: 100px;
   
    margin: auto;
    background-size: 100% 100%;
    background-image: url(images/diente.png);
    position: absolute; top: 150px; left: 240px;

    
}
.inicio{
    position: absolute; top: 250px; left: 624px;
}
@media (min-width:768px) { 
    .login {
        height: 300px;
        overflow: hidden;
    }
}