<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.CreateDiaNoDisponibleTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputLabel value="#{bundle.CreateDiaNoDisponibleLabel_idDiaNoDisponible}" for="idDiaNoDisponible" />
                    <h:inputText id="idDiaNoDisponible" value="#{diaNoDisponibleController.selected.idDiaNoDisponible}" title="#{bundle.CreateDiaNoDisponibleTitle_idDiaNoDisponible}" required="true" requiredMessage="#{bundle.CreateDiaNoDisponibleRequiredMessage_idDiaNoDisponible}"/>
                    <h:outputLabel value="#{bundle.CreateDiaNoDisponibleLabel_fecha}" for="fecha" />
                    <h:inputText id="fecha" value="#{diaNoDisponibleController.selected.fecha}" title="#{bundle.CreateDiaNoDisponibleTitle_fecha}" required="true" requiredMessage="#{bundle.CreateDiaNoDisponibleRequiredMessage_fecha}">
                        <f:convertDateTime pattern="MM/dd/yyyy" />
                    </h:inputText>
                    <h:outputLabel value="#{bundle.CreateDiaNoDisponibleLabel_idDia}" for="idDia" />
                    <h:selectOneMenu id="idDia" value="#{diaNoDisponibleController.selected.idDia}" title="#{bundle.CreateDiaNoDisponibleTitle_idDia}" required="true" requiredMessage="#{bundle.CreateDiaNoDisponibleRequiredMessage_idDia}">
                        <f:selectItems value="#{diaController.itemsAvailableSelectOne}"/>
                    </h:selectOneMenu>
                </h:panelGrid>
                <br />
                <center>  <h:commandLink action="#{diaNoDisponibleController.create}" >
                  <h:graphicImage library="images" name="Guardar.png" width="50" />
                </h:commandLink>  </center>
                <br />
                <center>   <h:commandLink action="#{diaNoDisponibleController.prepareList}" immediate="true">
                                    <h:graphicImage library="images" name="ver1.png" width="50" />
                </h:commandLink>  </center>                
                <br />
                <center> <h:link outcome="/index_1" >
                                <h:graphicImage library="images" name="Regresar.png" width="100" />
                                </h:link> </center>
            </h:form>
        </ui:define>
    </ui:composition>

</html>
