<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.EditDiaNoDisponibleTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputLabel value="#{bundle.EditDiaNoDisponibleLabel_idDiaNoDisponible}" for="idDiaNoDisponible" />
                    <h:inputText id="idDiaNoDisponible" value="#{diaNoDisponibleController.selected.idDiaNoDisponible}" title="#{bundle.EditDiaNoDisponibleTitle_idDiaNoDisponible}" required="true" requiredMessage="#{bundle.EditDiaNoDisponibleRequiredMessage_idDiaNoDisponible}"/>
                    <h:outputLabel value="#{bundle.EditDiaNoDisponibleLabel_fecha}" for="fecha" />
                    <h:inputText id="fecha" value="#{diaNoDisponibleController.selected.fecha}" title="#{bundle.EditDiaNoDisponibleTitle_fecha}" required="true" requiredMessage="#{bundle.EditDiaNoDisponibleRequiredMessage_fecha}">
                        <f:convertDateTime pattern="MM/dd/yyyy" />
                    </h:inputText>
                    <h:outputLabel value="#{bundle.EditDiaNoDisponibleLabel_idDia}" for="idDia" />
                    <h:selectOneMenu id="idDia" value="#{diaNoDisponibleController.selected.idDia}" title="#{bundle.EditDiaNoDisponibleTitle_idDia}" required="true" requiredMessage="#{bundle.EditDiaNoDisponibleRequiredMessage_idDia}">
                        <f:selectItems value="#{diaController.itemsAvailableSelectOne}"/>
                    </h:selectOneMenu>
                </h:panelGrid>
               <center>  <h:commandLink action="#{diaNoDisponibleController.update}" >
                                   <h:graphicImage library="images" name="actualizar.png" width="50" />
                </h:commandLink> </center>
                <br />
                 <center><h:link outcome="View" >
                    <h:graphicImage library="images" name="ver1.png" width="50" />
                    </h:link> </center>

                <br />
                 <center><h:commandLink action="#{diaNoDisponibleController.prepareList}"  immediate="true">
                                             <h:graphicImage library="images" name="Regresar.png" width="100" />
                </h:commandLink> </center>
            </h:form>
        </ui:define>
    </ui:composition>

</html>
