<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.CreateDiaTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputLabel value="#{bundle.CreateDiaLabel_idDia}" for="idDia" />
                    <h:inputText id="idDia" value="#{diaController.selected.idDia}" title="#{bundle.CreateDiaTitle_idDia}" required="true" requiredMessage="#{bundle.CreateDiaRequiredMessage_idDia}"/>
                    <h:outputLabel value="#{bundle.CreateDiaLabel_nombreDia}" for="nombreDia" />
                    <h:inputText id="nombreDia" value="#{diaController.selected.nombreDia}" title="#{bundle.CreateDiaTitle_nombreDia}" required="true" requiredMessage="#{bundle.CreateDiaRequiredMessage_nombreDia}"/>
                    <h:outputLabel value="#{bundle.CreateDiaLabel_estadoDia}" for="estadoDia" />
                    <h:inputText id="estadoDia" value="#{diaController.selected.estadoDia}" title="#{bundle.CreateDiaTitle_estadoDia}" required="true" requiredMessage="#{bundle.CreateDiaRequiredMessage_estadoDia}"/>
                </h:panelGrid>
                <br />
            <center>    <h:commandLink action="#{diaController.create}" >
                  <h:graphicImage library="images" name="Guardar.png" width="50" />
                </h:commandLink></center>
                <br />
              <center>  <h:commandLink action="#{diaController.prepareList}"  immediate="true">
                                    <h:graphicImage library="images" name="ver1.png" width="50" />
                </h:commandLink></center>
                <br />
             <center>   <h:link outcome="/index_1">
                                <h:graphicImage library="images" name="Regresar.png" width="100" />
                </h:link></center>
            </h:form>
        </ui:define>
    </ui:composition>

</html>
