<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.EditDiaTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputLabel value="#{bundle.EditDiaLabel_idDia}" for="idDia" />
                    <h:inputText id="idDia" value="#{diaController.selected.idDia}" title="#{bundle.EditDiaTitle_idDia}" required="true" requiredMessage="#{bundle.EditDiaRequiredMessage_idDia}"/>
                    <h:outputLabel value="#{bundle.EditDiaLabel_nombreDia}" for="nombreDia" />
                    <h:inputText id="nombreDia" value="#{diaController.selected.nombreDia}" title="#{bundle.EditDiaTitle_nombreDia}" required="true" requiredMessage="#{bundle.EditDiaRequiredMessage_nombreDia}"/>
                    <h:outputLabel value="#{bundle.EditDiaLabel_estadoDia}" for="estadoDia" />
                    <h:inputText id="estadoDia" value="#{diaController.selected.estadoDia}" title="#{bundle.EditDiaTitle_estadoDia}" required="true" requiredMessage="#{bundle.EditDiaRequiredMessage_estadoDia}"/>
                </h:panelGrid>
              <center>   <h:commandLink action="#{diaController.update}" >
                                   <h:graphicImage library="images" name="actualizar.png" width="50" />
                </h:commandLink> </center>
                <br />
               <center>  <h:link outcome="View" >
                                        <h:graphicImage library="images" name="ver1.png" width="50" />
                </h:link> </center>

                <br />
                <center> <h:commandLink action="#{diaController.prepareList}"  immediate="true">
                                                       <h:graphicImage library="images" name="Regresar.png" width="100" />
                </h:commandLink> </center>
            </h:form>
        </ui:define>
    </ui:composition>

</html>
