<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.CreateFichaDentalTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputLabel value="#{bundle.CreateFichaDentalLabel_idFicha}" for="idFicha" />
                    <h:inputText id="idFicha" value="#{fichaDentalController.selected.idFicha}" title="#{bundle.CreateFichaDentalTitle_idFicha}" required="true" requiredMessage="#{bundle.CreateFichaDentalRequiredMessage_idFicha}"/>
                    <h:outputLabel value="#{bundle.CreateFichaDentalLabel_fechaCreacion}" for="fechaCreacion" />
                    <h:inputText id="fechaCreacion" value="#{fichaDentalController.selected.fechaCreacion}" title="#{bundle.CreateFichaDentalTitle_fechaCreacion}" required="true" requiredMessage="#{bundle.CreateFichaDentalRequiredMessage_fechaCreacion}">
                        <f:convertDateTime pattern="MM/dd/yyyy" />
                    </h:inputText>
                    <h:outputLabel value="#{bundle.CreateFichaDentalLabel_pacienteIdPaciente}" for="pacienteIdPaciente" />
                    <h:selectOneMenu id="pacienteIdPaciente" value="#{fichaDentalController.selected.pacienteIdPaciente}" title="#{bundle.CreateFichaDentalTitle_pacienteIdPaciente}" required="true" requiredMessage="#{bundle.CreateFichaDentalRequiredMessage_pacienteIdPaciente}">
                        <f:selectItems value="#{pacienteController.itemsAvailableSelectOne}"/>
                    </h:selectOneMenu>
                </h:panelGrid>
                <br />
            <center>    <h:commandLink action="#{fichaDentalController.create}" >
                  <h:graphicImage library="images" name="Guardar.png" width="50" />
                </h:commandLink></center>
                <br />
            <center>    <h:commandLink action="#{fichaDentalController.prepareList}"  immediate="true">
                                    <h:graphicImage library="images" name="ver1.png" width="50" />
                </h:commandLink>            </center>        
                <br />
              <center>  <h:link outcome="/index_1" >
                                <h:graphicImage library="images" name="Regresar.png" width="100" />
            </h:link></center>
            </h:form>
        </ui:define>
    </ui:composition>

</html>
