<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.EditFichaDentalTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputLabel value="#{bundle.EditFichaDentalLabel_idFicha}" for="idFicha" />
                    <h:inputText id="idFicha" value="#{fichaDentalController.selected.idFicha}" title="#{bundle.EditFichaDentalTitle_idFicha}" required="true" requiredMessage="#{bundle.EditFichaDentalRequiredMessage_idFicha}"/>
                    <h:outputLabel value="#{bundle.EditFichaDentalLabel_fechaCreacion}" for="fechaCreacion" />
                    <h:inputText id="fechaCreacion" value="#{fichaDentalController.selected.fechaCreacion}" title="#{bundle.EditFichaDentalTitle_fechaCreacion}" required="true" requiredMessage="#{bundle.EditFichaDentalRequiredMessage_fechaCreacion}">
                        <f:convertDateTime pattern="MM/dd/yyyy" />
                    </h:inputText>
                    <h:outputLabel value="#{bundle.EditFichaDentalLabel_pacienteIdPaciente}" for="pacienteIdPaciente" />
                    <h:selectOneMenu id="pacienteIdPaciente" value="#{fichaDentalController.selected.pacienteIdPaciente}" title="#{bundle.EditFichaDentalTitle_pacienteIdPaciente}" required="true" requiredMessage="#{bundle.EditFichaDentalRequiredMessage_pacienteIdPaciente}">
                        <f:selectItems value="#{pacienteController.itemsAvailableSelectOne}"/>
                    </h:selectOneMenu>
                </h:panelGrid>
               <center>  <h:commandLink action="#{fichaDentalController.update}" >
                                   <h:graphicImage library="images" name="actualizar.png" width="50" />
                </h:commandLink> </center>
                <br />
              <center>   <h:link outcome="View" >
                                        <h:graphicImage library="images" name="ver1.png" width="50" />
                </h:link> </center>

                <br />
               <center>  <h:commandLink action="#{fichaDentalController.prepareList}"  immediate="true">
                                                   <h:graphicImage library="images" name="Regresar.png" width="100" />
                </h:commandLink> </center>
            </h:form>
        </ui:define>
    </ui:composition>

</html>
