<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.ListFichaDentalTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:form styleClass="jsfcrud_list_form">
                <h:panelGroup id="messagePanel" layout="block">
                    <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
                </h:panelGroup>
                <h:outputText escape="false" value="#{bundle.ListFichaDentalEmpty}" rendered="#{fichaDentalController.items.rowCount == 0}"/>
                <h:panelGroup rendered="#{fichaDentalController.items.rowCount > 0}">
                    <h:commandLink action="#{fichaDentalController.previous}" value="#{bundle.Previous} #{fichaDentalController.pagination.pageSize}" rendered="#{fichaDentalController.pagination.hasPreviousPage}"/>&nbsp;
                    <h:commandLink action="#{fichaDentalController.next}" value="#{bundle.Next} #{fichaDentalController.pagination.pageSize}" rendered="#{fichaDentalController.pagination.hasNextPage}"/>&nbsp;
                    <h:dataTable value="#{fichaDentalController.items}" var="item" border="0" cellpadding="2" cellspacing="0" rowClasses="jsfcrud_odd_row,jsfcrud_even_row" rules="all" style="border:solid 1px">
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListFichaDentalTitle_idFicha}"/>
                            </f:facet>
                            <h:outputText value="#{item.idFicha}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListFichaDentalTitle_fechaCreacion}"/>
                            </f:facet>
                            <h:outputText value="#{item.fechaCreacion}">
                                <f:convertDateTime pattern="MM/dd/yyyy" />
                            </h:outputText>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListFichaDentalTitle_pacienteIdPaciente}"/>
                            </f:facet>
                            <h:outputText value="#{item.pacienteIdPaciente}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="&nbsp;"/>
                            </f:facet>
                            <h:commandLink action="#{fichaDentalController.prepareView}">
                                         <h:graphicImage library="images" name="ver.png" width="20"/>
                  
                            </h:commandLink>
                            <h:outputText value=" "/>
                            <h:commandLink action="#{fichaDentalController.prepareEdit}" >
                                    <h:graphicImage library="images" name="editar.png" width="20"/>
                        
                             
                            </h:commandLink>
                         
                            <h:outputText value=" "/>
                            <h:commandLink action="#{fichaDentalController.destroy}" >
                                    <h:graphicImage library="images" name="eliminar.png" width="20"/>
                        
                            </h:commandLink>
                        </h:column>
                    </h:dataTable>
                </h:panelGroup>
                <br />
                <center><h:commandLink action="#{fichaDentalController.prepareCreate}">
                 <h:graphicImage library="images" name="crear.png" width="100" height="22" />

                    </h:commandLink></center>
                <br />
<center><h:link outcome="/index_1">
                    <h:graphicImage library="images" name="Regresar.png" width="100" />

                    </h:link></center>            </h:form>
        </ui:define>
    </ui:composition>

</html>
