<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
      xmlns:a="http://xmlns.jcp.org/jsf/passthrough"
      xmlns:p="http://primefaces.org/ui">
    <h:head>
        <title>Clinica Dental Alcivar.</title>
        <h:outputStylesheet name="css/jsfcrud.css"/>
        <link rel="shortcut icon" type="image/x-icon" href="resources/images/favicon.ico" />
        <link rel="stylesheet" href="css/index.css"/>
        <link rel="stylesheet" href="resources/css/fonts/style.css"/>
        <link href='//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css' rel='stylesheet'/>

        <h:outputStylesheet library="css" name="index.css" />
        
    </h:head>

    <h:body id="principal" > 
        <nav id='menu'>
    <div class='barra'>
        <input type='checkbox'/>
        <label><i aria-hidden='true' class='fa fa-bars'/></label>
        <ul class='principal'>
            <li><a href='#'>Inicio</a></li>
            <li><h:link outcome="/paciente/List" value="Pacientes">
                  <i class="fa fa-chevron-down"/>
                </h:link>
                <ul class='menus'>
                    <li><h:link outcome="/fichaDental/List" value="Ficha Dental"/></li>
               <!-- <li><h:link outcome="/piezaPaciente/List" value="Pieza Paciente"/></li>-->
                <li><h:link outcome="/cita/List" value="Cita"/></li>
                </ul>
               </li>
            <li><h:link outcome="/tratamiento/List" value="Tratamiento"/>
               
               </li>
            <!--<li><h:link outcome="/odontograma/List" value="Odontogramas"/></li>-->
            <li><h:link outcome="/atencion/List" value="Atención"/></li>
            <li><a href="#">Consulta<i class="fa fa-chevron-down"></i></a> 
                <ul class='menus'>
                <li><h:link outcome="/dia/List" value="Dia"/></li>
                <li><h:link outcome="/diaNoDisponible/List" value="Dia No Disponible"/></li>
                </ul>
               </li>
            <li><h:link outcome="index.xhtml" value="cerrar sesión"/> </li>
            <li><a href="https://draeydaalcivar.weebly.com/">Contactenos</a></li>
        </ul>
        <div class='iconos'>
            <a href='http://www.facebook.com/clinicadentalalcivar/" target="_blank'><i aria-hidden='true' class='fa fa-facebook'/></a>
            <a href='https://instagram.com/clinica_dental_alcivar?igshid=1brebv7mb9ue9'><i aria-hidden='true' class='fa fa-instagram'/></a>
        </div>
        <div id='buscador'>
              <img id="itsg" src="resources/images/unnamed.png" alt="logo"/>
        </div>
    </div>
            </nav><br></br><br></br><br></br>        
            
            <div class="banner" >
                
            </div>
     <div class ="cuerpo">
             <div id="articulo">
            <center> <h1>Bienvenidos a la Clinica Dental Alcivar</h1></center>
            <p style="text-align: justify;">Somos un Centro de Odontología que con la direccion y experiencia de la Dra. Eyda Alcívar, buscamos la atención integral de la salud dental de nuestros pacientes, brindándole confianza y familiaridad; lo que hace de sus tratamientos una experiencia más confortable.
                Fundamentamos nuestros servicios con  seguridad, ética y profesionalismo, siguiendo los estándares exigidos por la legislación de nuestro país.
            </p><br></br>


            <img src="resources/images/dra.jpg" alt="Dra" align="Right" width="456px"/> 

            <main>      
                <h1>Ortodoncia</h1>

                <img id="" src="resources/images/o.jpg" alt="ortodoncia" width="376px"/>
                <div id="articulo">
                    <p style="text-justify:auto  "> Los tratamientos ortodóncicos tienen la ventaja de proporcionarnos una boca sana, una sonrisa de aspecto agradable y dientes con mayores posibilidades de durar toda la vida.</p>
                </div>
            </main>
            <main> 
                <h1>Rehabilitacion Oral </h1>
                <div id="articulo">
                    <img id="" src="resources/images/re.jpg" alt="ReHABILITACION oRAL" width="376px"/>
                    <p style="text-justify:auto  "> 
                        •Una rehabilitación oral impedirá que se desalineen los dientes.<br></br> 
                        •Notarás una mejora en tu salud general especialmente la gástrica.<br></br>
                        •Podrás comer y hablar nuevamente de manera normal y natural. Algo que seguramente antes te costaba un poco más.<br></br>
                        •Por razones de aspecto físico, podrás recuperar tu autoestima al verte recuperado frente al espejo. </p>
                </div> </main>
        </div>

        <div id="pie">

            <footer class="footer">
                <div class="contenedor">
                    <div class="social">



                    </div>
                    <p class="copy"><center> Grupo 3 -  Todos los derechos reservados  -  2019 </center></p>
                </div>

            </footer>
        </div>
   
        <!--<h:link outcome="/tipoUser/List" value="Show All TipoUser Items"/>-->
     
       <!--  <h:link outcome="welcomePrimefaces" value="Primefaces welcome page" /> -->
    </div>
            
    </h:body>
      






</html>

