<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
     xmlns:h="http://xmlns.jcp.org/jsf/html"
     xmlns:p="http://primefaces.org/ui"
     xmlns:f="http://xmlns.jcp.org/jsf/core">
      
    <h:head>
        <title>Login</title>
                <h:outputStylesheet library="css" name="login.css" />

        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </h:head>
    <h:body>
        <div class="login">
        </div>
        <p:growl id="growl" sticky="true" showDetail="true"></p:growl>
        
           <div class="inicio">
            <h:form>
            <p:panelGrid columns="2">
            
                <f:facet name="header">Inició de sesión</f:facet>
                <h:outputText value="Usuario"></h:outputText>
                <p:inputText value="#{loginController.username}"></p:inputText>
                <h:outputText value="Contraseña"></h:outputText>
                <p:password value="#{loginController.password}"></p:password>
                <f:facet name="footer">
                    <center> <p:commandButton value="Entrar" action="#{loginController.loginControl()}"></p:commandButton></center> 
                </f:facet>
            </p:panelGrid>
                <p>
                    no tienes cuenta? registrese aqui --><h:link outcome="/users/Create" value="Registrate"/>

                </p>
        </h:form>
        </div>
    </h:body>
</html>