<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.CreateCitaTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputLabel value="#{bundle.CreateCitaLabel_idCita}" for="idCita" />
                    <h:inputText id="idCita" value="#{citaController.selected.idCita}" title="#{bundle.CreateCitaTitle_idCita}" required="true" requiredMessage="#{bundle.CreateCitaRequiredMessage_idCita}"/>
                    <h:outputLabel value="#{bundle.CreateCitaLabel_estadoCita}" for="estadoCita" />
                    <h:inputText id="estadoCita" value="#{citaController.selected.estadoCita}" title="#{bundle.CreateCitaTitle_estadoCita}" required="true" requiredMessage="#{bundle.CreateCitaRequiredMessage_estadoCita}"/>
                    <h:outputLabel value="#{bundle.CreateCitaLabel_fecha}" for="fecha" />
                    <h:inputText id="fecha" value="#{citaController.selected.fecha}" title="#{bundle.CreateCitaTitle_fecha}" required="true" requiredMessage="#{bundle.CreateCitaRequiredMessage_fecha}">
                        <f:convertDateTime pattern="MM/dd/yyyy" />
                    </h:inputText>
                    <h:outputLabel value="#{bundle.CreateCitaLabel_diaIdDia}" for="diaIdDia" />
                    <h:selectOneMenu id="diaIdDia" value="#{citaController.selected.diaIdDia}" title="#{bundle.CreateCitaTitle_diaIdDia}" required="true" requiredMessage="#{bundle.CreateCitaRequiredMessage_diaIdDia}">
                        <f:selectItems value="#{diaController.itemsAvailableSelectOne}"/>
                    </h:selectOneMenu>
                    <h:outputLabel value="#{bundle.CreateCitaLabel_pacienteIdPaciente}" for="pacienteIdPaciente" />
                    <h:selectOneMenu id="pacienteIdPaciente" value="#{citaController.selected.pacienteIdPaciente}" title="#{bundle.CreateCitaTitle_pacienteIdPaciente}" required="true" requiredMessage="#{bundle.CreateCitaRequiredMessage_pacienteIdPaciente}">
                        <f:selectItems value="#{pacienteController.itemsAvailableSelectOne}"/>
                    </h:selectOneMenu>
                </h:panelGrid>
                <br />
                <center> <h:commandLink action="#{citaController.create}" >
                  <h:graphicImage library="images" name="Guardar.png" width="50" />
                </h:commandLink> </center>
                <br />
             <center>   <h:commandLink action="#{citaController.prepareList}" immediate="true">
                                                    <h:graphicImage library="images" name="ver1.png" width="50" />
                 </h:commandLink>    </center>                                
                <br />
              <center>  <h:link outcome="/index_1" >
                                <h:graphicImage library="images" name="Regresar.png" width="100" />
                  </h:link>   </center>             
            </h:form>
        </ui:define>
    </ui:composition>

</html>
