<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.EditCitaTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputLabel value="#{bundle.EditCitaLabel_idCita}" for="idCita" />
                    <h:inputText id="idCita" value="#{citaController.selected.idCita}" title="#{bundle.EditCitaTitle_idCita}" required="true" requiredMessage="#{bundle.EditCitaRequiredMessage_idCita}"/>
                    <h:outputLabel value="#{bundle.EditCitaLabel_estadoCita}" for="estadoCita" />
                    <h:inputText id="estadoCita" value="#{citaController.selected.estadoCita}" title="#{bundle.EditCitaTitle_estadoCita}" required="true" requiredMessage="#{bundle.EditCitaRequiredMessage_estadoCita}"/>
                    <h:outputLabel value="#{bundle.EditCitaLabel_fecha}" for="fecha" />
                    <h:inputText id="fecha" value="#{citaController.selected.fecha}" title="#{bundle.EditCitaTitle_fecha}" required="true" requiredMessage="#{bundle.EditCitaRequiredMessage_fecha}">
                        <f:convertDateTime pattern="MM/dd/yyyy" />
                    </h:inputText>
                    <h:outputLabel value="#{bundle.EditCitaLabel_diaIdDia}" for="diaIdDia" />
                    <h:selectOneMenu id="diaIdDia" value="#{citaController.selected.diaIdDia}" title="#{bundle.EditCitaTitle_diaIdDia}" required="true" requiredMessage="#{bundle.EditCitaRequiredMessage_diaIdDia}">
                        <f:selectItems value="#{diaController.itemsAvailableSelectOne}"/>
                    </h:selectOneMenu>
                    <h:outputLabel value="#{bundle.EditCitaLabel_pacienteIdPaciente}" for="pacienteIdPaciente" />
                    <h:selectOneMenu id="pacienteIdPaciente" value="#{citaController.selected.pacienteIdPaciente}" title="#{bundle.EditCitaTitle_pacienteIdPaciente}" required="true" requiredMessage="#{bundle.EditCitaRequiredMessage_pacienteIdPaciente}">
                        <f:selectItems value="#{pacienteController.itemsAvailableSelectOne}"/>
                    </h:selectOneMenu>
                </h:panelGrid>
              <center>   <h:commandLink action="#{citaController.update}" >
                                   <h:graphicImage library="images" name="actualizar.png" width="50" />
                </h:commandLink> </center>
                <br />
               <center>  <h:link outcome="View" >
                    <h:graphicImage library="images" name="ver1.png" width="50" />
                </h:link> </center>

                <br />
             <center>    <h:commandLink action="#{citaController.prepareList}" immediate="true">
                    <h:graphicImage library="images" name="Regresar.png" width="100" />
                </h:commandLink> </center>

            </h:form>
        </ui:define>
    </ui:composition>

</html>
