<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.ViewCitaTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputText value="#{bundle.ViewCitaLabel_idCita}"/>
                    <h:outputText value="#{citaController.selected.idCita}" title="#{bundle.ViewCitaTitle_idCita}"/>
                    <h:outputText value="#{bundle.ViewCitaLabel_estadoCita}"/>
                    <h:outputText value="#{citaController.selected.estadoCita}" title="#{bundle.ViewCitaTitle_estadoCita}"/>
                    <h:outputText value="#{bundle.ViewCitaLabel_fecha}"/>
                    <h:outputText value="#{citaController.selected.fecha}" title="#{bundle.ViewCitaTitle_fecha}">
                        <f:convertDateTime pattern="MM/dd/yyyy" />
                    </h:outputText>
                    <h:outputText value="#{bundle.ViewCitaLabel_diaIdDia}"/>
                    <h:outputText value="#{citaController.selected.diaIdDia}" title="#{bundle.ViewCitaTitle_diaIdDia}"/>
                    <h:outputText value="#{bundle.ViewCitaLabel_pacienteIdPaciente}"/>
                    <h:outputText value="#{citaController.selected.pacienteIdPaciente}" title="#{bundle.ViewCitaTitle_pacienteIdPaciente}"/>
                </h:panelGrid>
                <br />
             <center>   <h:commandLink action="#{citaController.destroyAndView}">
                   <h:graphicImage library="images" name="eliminar1.png" width="50" />
                </h:commandLink></center>
                <br />
            <center>    <h:link outcome="Edit" >
                             <h:graphicImage library="images" name="editar1.png" width="50" />
                             </h:link></center>

                <br />
             <center>   <h:commandLink action="#{citaController.prepareList}">
                            <h:graphicImage library="images" name="Regresar.png" width="100" />
                </h:commandLink></center>
                            


            </h:form>
        </ui:define>
    </ui:composition>

</html>
