<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.EditTipoUserTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputLabel value="#{bundle.EditTipoUserLabel_idTipo}" for="idTipo" />
                    <h:inputText id="idTipo" value="#{tipoUserController.selected.idTipo}" title="#{bundle.EditTipoUserTitle_idTipo}" required="true" requiredMessage="#{bundle.EditTipoUserRequiredMessage_idTipo}"/>
                    <h:outputLabel value="#{bundle.EditTipoUserLabel_nombreTipo}" for="nombreTipo" />
                    <h:inputText id="nombreTipo" value="#{tipoUserController.selected.nombreTipo}" title="#{bundle.EditTipoUserTitle_nombreTipo}" required="true" requiredMessage="#{bundle.EditTipoUserRequiredMessage_nombreTipo}"/>
                </h:panelGrid>
                <h:commandLink action="#{tipoUserController.update}" value="#{bundle.EditTipoUserSaveLink}"/>
                <br />
                <br />
                <h:link outcome="View" value="#{bundle.EditTipoUserViewLink}"/>
                <br />
                <h:commandLink action="#{tipoUserController.prepareList}" value="#{bundle.EditTipoUserShowAllLink}" immediate="true"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.EditTipoUserIndexLink}" />
            </h:form>
        </ui:define>
    </ui:composition>

</html>
