<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.ListTipoUserTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:form styleClass="jsfcrud_list_form">
                <h:panelGroup id="messagePanel" layout="block">
                    <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
                </h:panelGroup>
                <h:outputText escape="false" value="#{bundle.ListTipoUserEmpty}" rendered="#{tipoUserController.items.rowCount == 0}"/>
                <h:panelGroup rendered="#{tipoUserController.items.rowCount > 0}">
                    <h:outputText value="#{tipoUserController.pagination.pageFirstItem + 1}..#{tipoUserController.pagination.pageLastItem + 1}/#{tipoUserController.pagination.itemsCount}"/>&nbsp;
                    <h:commandLink action="#{tipoUserController.previous}" value="#{bundle.Previous} #{tipoUserController.pagination.pageSize}" rendered="#{tipoUserController.pagination.hasPreviousPage}"/>&nbsp;
                    <h:commandLink action="#{tipoUserController.next}" value="#{bundle.Next} #{tipoUserController.pagination.pageSize}" rendered="#{tipoUserController.pagination.hasNextPage}"/>&nbsp;
                    <h:dataTable value="#{tipoUserController.items}" var="item" border="0" cellpadding="2" cellspacing="0" rowClasses="jsfcrud_odd_row,jsfcrud_even_row" rules="all" style="border:solid 1px">
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListTipoUserTitle_idTipo}"/>
                            </f:facet>
                            <h:outputText value="#{item.idTipo}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListTipoUserTitle_nombreTipo}"/>
                            </f:facet>
                            <h:outputText value="#{item.nombreTipo}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="&nbsp;"/>
                            </f:facet>
                            <h:commandLink action="#{tipoUserController.prepareView}" value="#{bundle.ListTipoUserViewLink}"/>
                            <h:outputText value=" "/>
                            <h:commandLink action="#{tipoUserController.prepareEdit}" value="#{bundle.ListTipoUserEditLink}"/>
                            <h:outputText value=" "/>
                            <h:commandLink action="#{tipoUserController.destroy}" value="#{bundle.ListTipoUserDestroyLink}"/>
                        </h:column>
                    </h:dataTable>
                </h:panelGroup>
                <br />
                <h:commandLink action="#{tipoUserController.prepareCreate}" value="#{bundle.ListTipoUserCreateLink}"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.ListTipoUserIndexLink}"/>
            </h:form>
        </ui:define>
    </ui:composition>

</html>
