<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.ViewTipoUserTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputText value="#{bundle.ViewTipoUserLabel_idTipo}"/>
                    <h:outputText value="#{tipoUserController.selected.idTipo}" title="#{bundle.ViewTipoUserTitle_idTipo}"/>
                    <h:outputText value="#{bundle.ViewTipoUserLabel_nombreTipo}"/>
                    <h:outputText value="#{tipoUserController.selected.nombreTipo}" title="#{bundle.ViewTipoUserTitle_nombreTipo}"/>
                </h:panelGrid>
                <br />
                <h:commandLink action="#{tipoUserController.destroyAndView}" value="#{bundle.ViewTipoUserDestroyLink}"/>
                <br />
                <br />
                <h:link outcome="Edit" value="#{bundle.ViewTipoUserEditLink}"/>
                <br />
                <h:commandLink action="#{tipoUserController.prepareCreate}" value="#{bundle.ViewTipoUserCreateLink}" />
                <br />
                <h:commandLink action="#{tipoUserController.prepareList}" value="#{bundle.ViewTipoUserShowAllLink}"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.ViewTipoUserIndexLink}"/>

            </h:form>
        </ui:define>
    </ui:composition>

</html>
