<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.CreateAtencionTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputLabel value="#{bundle.CreateAtencionLabel_idAtencion}" for="idAtencion" />
                    <h:inputText id="idAtencion" value="#{atencionController.selected.idAtencion}" title="#{bundle.CreateAtencionTitle_idAtencion}" required="true" requiredMessage="#{bundle.CreateAtencionRequiredMessage_idAtencion}"/>
                    <h:outputLabel value="#{bundle.CreateAtencionLabel_fechaCreacion}" for="fechaCreacion" />
                    <h:inputText id="fechaCreacion" value="#{atencionController.selected.fechaCreacion}" title="#{bundle.CreateAtencionTitle_fechaCreacion}" required="true" requiredMessage="#{bundle.CreateAtencionRequiredMessage_fechaCreacion}">
                        <f:convertDateTime pattern="MM/dd/yyyy" />
                    </h:inputText>
                    <h:outputLabel value="#{bundle.CreateAtencionLabel_fechaInicio}" for="fechaInicio" />
                    <h:inputText id="fechaInicio" value="#{atencionController.selected.fechaInicio}" title="#{bundle.CreateAtencionTitle_fechaInicio}" required="true" requiredMessage="#{bundle.CreateAtencionRequiredMessage_fechaInicio}">
                        <f:convertDateTime pattern="MM/dd/yyyy" />
                    </h:inputText>
                    <h:outputLabel value="#{bundle.CreateAtencionLabel_fechaTermino}" for="fechaTermino" />
                    <h:inputText id="fechaTermino" value="#{atencionController.selected.fechaTermino}" title="#{bundle.CreateAtencionTitle_fechaTermino}" required="true" requiredMessage="#{bundle.CreateAtencionRequiredMessage_fechaTermino}">
                        <f:convertDateTime pattern="MM/dd/yyyy" />
                    </h:inputText>
                    <h:outputLabel value="#{bundle.CreateAtencionLabel_estado}" for="estado" />
                    <h:inputText id="estado" value="#{atencionController.selected.estado}" title="#{bundle.CreateAtencionTitle_estado}" required="true" requiredMessage="#{bundle.CreateAtencionRequiredMessage_estado}"/>
                    <h:outputLabel value="#{bundle.CreateAtencionLabel_idFicha}" for="idFicha" />
                    <h:selectOneMenu id="idFicha" value="#{atencionController.selected.idFicha}" title="#{bundle.CreateAtencionTitle_idFicha}" required="true" requiredMessage="#{bundle.CreateAtencionRequiredMessage_idFicha}">
                        <f:selectItems value="#{fichaDentalController.itemsAvailableSelectOne}"/>
                    </h:selectOneMenu>
                </h:panelGrid>
                <br />
                <center><h:commandLink action="#{atencionController.create}" >
                 <h:graphicImage library="images" name="Guardar.png" width="50" />
                    </h:commandLink></center>
                                <br />

                 <center><h:commandLink action="#{atencionController.prepareList}" immediate="true">
                                    <h:graphicImage library="images" name="ver1.png" width="50" />
    
                     </h:commandLink></center> 
                <br />
                <center><h:link outcome="/index_1" >
                <h:graphicImage library="images" name="Regresar.png" width="100" />

                    </h:link></center> 
            </h:form>
        </ui:define>
    </ui:composition>

</html>
