<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.EditAtencionTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputLabel value="#{bundle.EditAtencionLabel_idAtencion}" for="idAtencion" />
                    <h:inputText id="idAtencion" value="#{atencionController.selected.idAtencion}" title="#{bundle.EditAtencionTitle_idAtencion}" required="true" requiredMessage="#{bundle.EditAtencionRequiredMessage_idAtencion}"/>
                    <h:outputLabel value="#{bundle.EditAtencionLabel_fechaCreacion}" for="fechaCreacion" />
                    <h:inputText id="fechaCreacion" value="#{atencionController.selected.fechaCreacion}" title="#{bundle.EditAtencionTitle_fechaCreacion}" required="true" requiredMessage="#{bundle.EditAtencionRequiredMessage_fechaCreacion}">
                        <f:convertDateTime pattern="MM/dd/yyyy" />
                    </h:inputText>
                    <h:outputLabel value="#{bundle.EditAtencionLabel_fechaInicio}" for="fechaInicio" />
                    <h:inputText id="fechaInicio" value="#{atencionController.selected.fechaInicio}" title="#{bundle.EditAtencionTitle_fechaInicio}" required="true" requiredMessage="#{bundle.EditAtencionRequiredMessage_fechaInicio}">
                        <f:convertDateTime pattern="MM/dd/yyyy" />
                    </h:inputText>
                    <h:outputLabel value="#{bundle.EditAtencionLabel_fechaTermino}" for="fechaTermino" />
                    <h:inputText id="fechaTermino" value="#{atencionController.selected.fechaTermino}" title="#{bundle.EditAtencionTitle_fechaTermino}" required="true" requiredMessage="#{bundle.EditAtencionRequiredMessage_fechaTermino}">
                        <f:convertDateTime pattern="MM/dd/yyyy" />
                    </h:inputText>
                    <h:outputLabel value="#{bundle.EditAtencionLabel_estado}" for="estado" />
                    <h:inputText id="estado" value="#{atencionController.selected.estado}" title="#{bundle.EditAtencionTitle_estado}" required="true" requiredMessage="#{bundle.EditAtencionRequiredMessage_estado}"/>
                    <h:outputLabel value="#{bundle.EditAtencionLabel_idFicha}" for="idFicha" />
                    <h:selectOneMenu id="idFicha" value="#{atencionController.selected.idFicha}" title="#{bundle.EditAtencionTitle_idFicha}" required="true" requiredMessage="#{bundle.EditAtencionRequiredMessage_idFicha}">
                        <f:selectItems value="#{fichaDentalController.itemsAvailableSelectOne}"/>
                    </h:selectOneMenu>
                </h:panelGrid>
                <center> <h:commandLink action="#{atencionController.update}">
                                   <h:graphicImage library="images" name="actualizar.png" width="50" />
     
                    </h:commandLink>   </center>
                
                <br />
                <center> <h:link outcome="View" >
                        <h:graphicImage library="images" name="ver1.png" width="50" />
                
                    </h:link>    </center>
                <br />
                <center>    <h:commandLink action="#{atencionController.prepareList}" immediate="true">
                                       <h:graphicImage library="images" name="Regresar.png" width="100" />
 
                    </h:commandLink>   </center> 
               
            </h:form>
        </ui:define>
    </ui:composition>

</html>
