<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.ViewAtencionTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputText value="#{bundle.ViewAtencionLabel_idAtencion}"/>
                    <h:outputText value="#{atencionController.selected.idAtencion}" title="#{bundle.ViewAtencionTitle_idAtencion}"/>
                    <h:outputText value="#{bundle.ViewAtencionLabel_fechaCreacion}"/>
                    <h:outputText value="#{atencionController.selected.fechaCreacion}" title="#{bundle.ViewAtencionTitle_fechaCreacion}">
                        <f:convertDateTime pattern="MM/dd/yyyy" />
                    </h:outputText>
                    <h:outputText value="#{bundle.ViewAtencionLabel_fechaInicio}"/>
                    <h:outputText value="#{atencionController.selected.fechaInicio}" title="#{bundle.ViewAtencionTitle_fechaInicio}">
                        <f:convertDateTime pattern="MM/dd/yyyy" />
                    </h:outputText>
                    <h:outputText value="#{bundle.ViewAtencionLabel_fechaTermino}"/>
                    <h:outputText value="#{atencionController.selected.fechaTermino}" title="#{bundle.ViewAtencionTitle_fechaTermino}">
                        <f:convertDateTime pattern="MM/dd/yyyy" />
                    </h:outputText>
                    <h:outputText value="#{bundle.ViewAtencionLabel_estado}"/>
                    <h:outputText value="#{atencionController.selected.estado}" title="#{bundle.ViewAtencionTitle_estado}"/>
                    <h:outputText value="#{bundle.ViewAtencionLabel_idFicha}"/>
                    <h:outputText value="#{atencionController.selected.idFicha}" title="#{bundle.ViewAtencionTitle_idFicha}"/>
                </h:panelGrid>
                <br />
            <center>    <h:commandLink action="#{atencionController.destroyAndView}" >
                   <h:graphicImage library="images" name="eliminar1.png" width="50" />
                </h:commandLink></center>
                <br />
           <center>     <h:link outcome="Edit" >
                       <h:graphicImage library="images" name="editar1.png" width="50" />
                </h:link></center>
                <br />
            <center>    <h:commandLink action="#{atencionController.prepareList}" >
                             <h:graphicImage library="images" name="Regresar.png" width="100" />
                </h:commandLink></center>
            </h:form>
        </ui:define>
    </ui:composition>

</html>
