<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.CreateTratamientoRealizadoTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputLabel value="#{bundle.CreateTratamientoRealizadoLabel_idRealizado}" for="idRealizado" />
                    <h:inputText id="idRealizado" value="#{tratamientoRealizadoController.selected.idRealizado}" title="#{bundle.CreateTratamientoRealizadoTitle_idRealizado}" required="true" requiredMessage="#{bundle.CreateTratamientoRealizadoRequiredMessage_idRealizado}"/>
                    <h:outputLabel value="#{bundle.CreateTratamientoRealizadoLabel_comentario}" for="comentario" />
                    <h:inputTextarea rows="4" cols="30" id="comentario" value="#{tratamientoRealizadoController.selected.comentario}" title="#{bundle.CreateTratamientoRealizadoTitle_comentario}" required="true" requiredMessage="#{bundle.CreateTratamientoRealizadoRequiredMessage_comentario}"/>
                    <h:outputLabel value="#{bundle.CreateTratamientoRealizadoLabel_idAtencion}" for="idAtencion" />
                    <h:selectOneMenu id="idAtencion" value="#{tratamientoRealizadoController.selected.idAtencion}" title="#{bundle.CreateTratamientoRealizadoTitle_idAtencion}" required="true" requiredMessage="#{bundle.CreateTratamientoRealizadoRequiredMessage_idAtencion}">
                        <f:selectItems value="#{atencionController.itemsAvailableSelectOne}"/>
                    </h:selectOneMenu>
                    <h:outputLabel value="#{bundle.CreateTratamientoRealizadoLabel_idTratamiento}" for="idTratamiento" />
                    <h:selectOneMenu id="idTratamiento" value="#{tratamientoRealizadoController.selected.idTratamiento}" title="#{bundle.CreateTratamientoRealizadoTitle_idTratamiento}" required="true" requiredMessage="#{bundle.CreateTratamientoRealizadoRequiredMessage_idTratamiento}">
                        <f:selectItems value="#{tratamientoController.itemsAvailableSelectOne}"/>
                    </h:selectOneMenu>
                </h:panelGrid>
                <br />
            <center>    <h:commandLink action="#{tratamientoRealizadoController.create}" >
                  <h:graphicImage library="images" name="Guardar.png" width="50" />
               
                </h:commandLink>    </center>
                <br />
                
            <center>    <h:commandLink action="#{tratamientoRealizadoController.prepareList}" immediate="true">
                    <h:graphicImage library="images" name="ver1.png" width="50" />
            
                </h:commandLink></center>
                <br />
                
            <center>    <h:link outcome="/index_1" >
                  <h:graphicImage library="images" name="Regresar.png" width="100" />
                  
                   </h:link> </center>
            </h:form>
        </ui:define>
    </ui:composition>

</html>
