<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.EditTratamientoRealizadoTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputLabel value="#{bundle.EditTratamientoRealizadoLabel_idRealizado}" for="idRealizado" />
                    <h:inputText id="idRealizado" value="#{tratamientoRealizadoController.selected.idRealizado}" title="#{bundle.EditTratamientoRealizadoTitle_idRealizado}" required="true" requiredMessage="#{bundle.EditTratamientoRealizadoRequiredMessage_idRealizado}"/>
                    <h:outputLabel value="#{bundle.EditTratamientoRealizadoLabel_comentario}" for="comentario" />
                    <h:inputTextarea rows="4" cols="30" id="comentario" value="#{tratamientoRealizadoController.selected.comentario}" title="#{bundle.EditTratamientoRealizadoTitle_comentario}" required="true" requiredMessage="#{bundle.EditTratamientoRealizadoRequiredMessage_comentario}"/>
                    <h:outputLabel value="#{bundle.EditTratamientoRealizadoLabel_idAtencion}" for="idAtencion" />
                    <h:selectOneMenu id="idAtencion" value="#{tratamientoRealizadoController.selected.idAtencion}" title="#{bundle.EditTratamientoRealizadoTitle_idAtencion}" required="true" requiredMessage="#{bundle.EditTratamientoRealizadoRequiredMessage_idAtencion}">
                        <f:selectItems value="#{atencionController.itemsAvailableSelectOne}"/>
                    </h:selectOneMenu>
                    <h:outputLabel value="#{bundle.EditTratamientoRealizadoLabel_idTratamiento}" for="idTratamiento" />
                    <h:selectOneMenu id="idTratamiento" value="#{tratamientoRealizadoController.selected.idTratamiento}" title="#{bundle.EditTratamientoRealizadoTitle_idTratamiento}" required="true" requiredMessage="#{bundle.EditTratamientoRealizadoRequiredMessage_idTratamiento}">
                        <f:selectItems value="#{tratamientoController.itemsAvailableSelectOne}"/>
                    </h:selectOneMenu>
                </h:panelGrid>
                <h:commandLink action="#{tratamientoRealizadoController.update}" value="#{bundle.EditTratamientoRealizadoSaveLink}"/>
                <br />
                <br />
                <h:link outcome="View" value="#{bundle.EditTratamientoRealizadoViewLink}"/>
                <br />
                <h:commandLink action="#{tratamientoRealizadoController.prepareList}" value="#{bundle.EditTratamientoRealizadoShowAllLink}" immediate="true"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.EditTratamientoRealizadoIndexLink}" />
            </h:form>
        </ui:define>
    </ui:composition>

</html>
