<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.ListTratamientoRealizadoTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:form styleClass="jsfcrud_list_form">
                <h:panelGroup id="messagePanel" layout="block">
                    <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
                </h:panelGroup>
                <h:outputText escape="false" value="#{bundle.ListTratamientoRealizadoEmpty}" rendered="#{tratamientoRealizadoController.items.rowCount == 0}"/>
                <h:panelGroup rendered="#{tratamientoRealizadoController.items.rowCount > 0}">
                    <h:commandLink action="#{tratamientoRealizadoController.previous}" value="#{bundle.Previous} #{tratamientoRealizadoController.pagination.pageSize}" rendered="#{tratamientoRealizadoController.pagination.hasPreviousPage}"/>&nbsp;
                    <h:commandLink action="#{tratamientoRealizadoController.next}" value="#{bundle.Next} #{tratamientoRealizadoController.pagination.pageSize}" rendered="#{tratamientoRealizadoController.pagination.hasNextPage}"/>&nbsp;
                    <h:dataTable value="#{tratamientoRealizadoController.items}" var="item" border="0" cellpadding="2" cellspacing="0" rowClasses="jsfcrud_odd_row,jsfcrud_even_row" rules="all" style="border:solid 1px">
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListTratamientoRealizadoTitle_idRealizado}"/>
                            </f:facet>
                            <h:outputText value="#{item.idRealizado}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListTratamientoRealizadoTitle_comentario}"/>
                            </f:facet>
                            <h:outputText value="#{item.comentario}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListTratamientoRealizadoTitle_idAtencion}"/>
                            </f:facet>
                            <h:outputText value="#{item.idAtencion}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListTratamientoRealizadoTitle_idTratamiento}"/>
                            </f:facet>
                            <h:outputText value="#{item.idTratamiento}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="&nbsp;"/>
                            </f:facet>
                            <h:commandLink action="#{tratamientoRealizadoController.prepareView}" >
                                      <h:graphicImage library="images" name="ver.png" width="20"/>
                  
                            </h:commandLink>    
                            <h:outputText value=" "/>
                            <h:commandLink action="#{tratamientoRealizadoController.prepareEdit}" >
                                     <h:graphicImage library="images" name="editar.png" width="20"/>
                       
                            </h:commandLink>   
                            <h:outputText value=" "/>
                            <h:commandLink action="#{tratamientoRealizadoController.destroy}" >
                                
                                   <h:graphicImage library="images" name="eliminar.png" width="20"/>
                         
                            </h:commandLink> 
                        </h:column>
                    </h:dataTable>
                </h:panelGroup>
                <br />
                <center>
                    <h:commandLink action="#{tratamientoRealizadoController.prepareCreate}">
                    <h:graphicImage library="images" name="crear.png" width="100" height="22" />

                    </h:commandLink></center>
                <br />
<center><h:link outcome="/index_1">
                    <h:graphicImage library="images" name="Regresar.png" width="100" />

                    </h:link></center>            </h:form>
        </ui:define>
    </ui:composition>

</html>
