<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.ViewTratamientoRealizadoTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputText value="#{bundle.ViewTratamientoRealizadoLabel_idRealizado}"/>
                    <h:outputText value="#{tratamientoRealizadoController.selected.idRealizado}" title="#{bundle.ViewTratamientoRealizadoTitle_idRealizado}"/>
                    <h:outputText value="#{bundle.ViewTratamientoRealizadoLabel_comentario}"/>
                    <h:outputText value="#{tratamientoRealizadoController.selected.comentario}" title="#{bundle.ViewTratamientoRealizadoTitle_comentario}"/>
                    <h:outputText value="#{bundle.ViewTratamientoRealizadoLabel_idAtencion}"/>
                    <h:outputText value="#{tratamientoRealizadoController.selected.idAtencion}" title="#{bundle.ViewTratamientoRealizadoTitle_idAtencion}"/>
                    <h:outputText value="#{bundle.ViewTratamientoRealizadoLabel_idTratamiento}"/>
                    <h:outputText value="#{tratamientoRealizadoController.selected.idTratamiento}" title="#{bundle.ViewTratamientoRealizadoTitle_idTratamiento}"/>
                </h:panelGrid>
                <br />
                <h:commandLink action="#{tratamientoRealizadoController.destroyAndView}" value="#{bundle.ViewTratamientoRealizadoDestroyLink}"/>
                <br />
                <br />
                <h:link outcome="Edit" value="#{bundle.ViewTratamientoRealizadoEditLink}"/>
                <br />
                <h:commandLink action="#{tratamientoRealizadoController.prepareCreate}" value="#{bundle.ViewTratamientoRealizadoCreateLink}" />
                <br />
                <h:commandLink action="#{tratamientoRealizadoController.prepareList}" value="#{bundle.ViewTratamientoRealizadoShowAllLink}"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.ViewTratamientoRealizadoIndexLink}"/>

            </h:form>
        </ui:define>
    </ui:composition>

</html>
